vg="tput setaf 2"
red="tput setaf 1"
d="tput sgr0"
${d}
clear;
${g}

BLA_metro=( 0.2 ..............x------ ..............xx----- ..............xxx---- ..............-xxx--- ..............--xxx-- ..............---xxx- ..............----xxx ..............-----xx ..............------x ..............------- ............x----- ..............xxx---- ..............-xxx--- ..............--xxx-- ..............---xxx- ..............----xxx.............. -----xx ..............------x ..............------- ..............------- ..............------- ..............-------........------- ..............------- ..............------- )
declare -a BLA_active_loading_animation
BLA::play_loading_animation_loop() {
while true ; do
for frame in "${BLA_active_loading_animation[@]}" ; do
$g ; tput civis ;
#printf "\r%s" "    [ ${frame} ]"
printf "\r%s ]"; printf "\r%s" "${frame}" ; $d; printf "\r%s" "    Loading: [ "; tput cuf 6 ; printf " ]                                  "; 
sleep "${BLA_loading_animation_frame_interval}"
$d
done
done
}



BLA::start_loading_animation() {
  BLA_active_loading_animation=( "${@}" )
  # Extract the delay between each frame from array BLA_active_loading_animation
  BLA_loading_animation_frame_interval="${BLA_active_loading_animation[0]}"
  unset "BLA_active_loading_animation[0]"
  tput civis # Hide the terminal cursor
  BLA::play_loading_animation_loop & 2> /dev/null
clear
echo -e "\v Startub script initializing... \v"

  BLA_loading_animation_pid="${!}"
}

BLA::stop_loading_animation() {
  kill "${BLA_loading_animation_pid}" &> /dev/null
  printf "\n"
  tput cnorm # Restore the terminal cursor
}
## init BLA
trap BLA::stop_loading_animation SIGINT&> /dev/null

echo -e " \v\v "
BLA::start_loading_animation "${BLA_metro[@]}"
sudo apt update -y &> /dev/null ; apt install -qq -y curl tar unzip &> /dev/null ;
echo -e "\v\t\v ${green} done! \v\v"
BLA::stop_loading_animation&> /dev/null
sleep 1;



exit;




<html lang="en-sv">
<head>
 http-equiv="content-type">
  <title>store164</title>
  <meta content="www.osmik.se" name="author">
  <style>
body {
background: radial-gradient(ellipse at center, #cedce7 0%,#596a72 100%);}
  </style>
</head>
<body style="color: rgb(224, 224, 224); direction: ltr;"
 alink="white" link="white" vlink="white">
<img style="width: 1000px; height: 564px;" alt="aa"
 src="11.png"><br>
<img style="width: 1000px; height: 564px;" alt="aa"
 src="1111sadf.png"><br>
<img style="width: 1000px; height: 564px;" alt="aa"
 src="1111.png"><br>
</body>
</html>
